.base {
  position: relative;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  background-color: #1d242c;

  
  
  
 
}



@media screen and (max-width: 850px) {
    .base {
      grid-template-columns: 1fr ;
    }
  }
  



.contenedor1 {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  min-width: 412px;
  height: 915px;
  margin-bottom: 12vh;
  background-color: #94C7FF;
  flex-direction: column;
  
  
}

.portada{

  height: 915px;


}



.contenedor2 {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  min-width: 412px;
  height: 915px;
  margin-bottom: 12vh;
  background-color: #1d242c;;
  justify-content: center;
  flex-direction: column;


}







.grid2 {
  display: grid;
  grid-template-columns: 50px 50px 50px; /* Tamaño de cada columna en píxeles */
  grid-template-rows: 50px 50px 50px; /* Tamaño de cada fila en píxeles */
  gap: 80px 80px; /* Espacio entre las celdas (sin espacio entre filas ni columnas) */
  grid-auto-flow: row; /* Flujo automático de filas */
}

/* Define la animación */
@keyframes agrandarYReducir {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

/* Aplica la animación a cada celda */
.grid2 > * {
  animation: agrandarYReducir 3s ease-in-out infinite alternate;
  animation-delay: calc(var(--row) * 0.2s + var(--col) * 0.2s); /* Calcula el retraso para la animación */
}

/* Establece las variables --row y --col para cada celda */
.grid2 > :nth-child(1) {
  --row: 0;
  --col: 0;
}

.grid2 > :nth-child(2) {
  --row: 0;
  --col: 1;
}

.grid2 > :nth-child(3) {
  --row: 0;
  --col: 2;
}

.grid2 > :nth-child(4) {
  --row: 1;
  --col: 0;
}

.grid2 > :nth-child(5) {
  --row: 1;
  --col: 1;
}

.grid2 > :nth-child(6) {
  --row: 1;
  --col: 2;
}

.grid2 > :nth-child(7) {
  --row: 2;
  --col: 0;
}

.grid2 > :nth-child(8) {
  --row: 2;
  --col: 1;
}

.grid2 > :nth-child(9) {
  --row: 2;
  --col: 2;
}




.grid3 {  


  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px 0px;
  grid-auto-flow: row;
  margin-left: 10px;
  
  
 
}



.imagen{


  height: 100%;
  width: 100%;
  
  
  
}








