.header {
  position: fixed;
  display: flex;
  min-width: 412px;
  z-index: 30;
  width: 100%;
  
  

  align-content: center;
  justify-content: center;
  align-items: center;
}

.header_contenido {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  width: 100%;
  color: azure;
}

.header_contenido :hover {
  color: rgb(233, 13, 68);
}

.sesion {
}

.sesion:hover {
  color: rgb(233, 13, 68);
}

.sesion_mobil {
}

@media screen and (min-width: 1000px) {
  .sesion_mobil {
    display: flex;
  }
}
