
.header{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 412px;
    z-index: 30;
    width: 100%;
    height: 60px;

}



.header_contenido{
    display: flex;
    height: 7vh;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    width: 100%;
    color: azure;

}

.header_contenido :hover{

    color: rgb(233, 13, 68);


}

