@tailwind base;
@tailwind components;
@tailwind utilities;




/* Definición de la fuente Quicksand */

@font-face {
  font-family: "VT323";
  src: url("./fuentes//MiConv.com__VT323-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Quicksand";
  src: url("./fuentes/MiConv.com__Quicksand-VariableFont_wght.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "BebasNeue-Regular";
  src: url("./fuentes/MiConv.com__BebasNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Jacquard12-Regular";
  src: url("./fuentes/MiConv.com__Jacquard12-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LibreBarcode128-Regular";
  src: url("./fuentes/MiConv.com__LibreBarcode128-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NotoEmoji-VariableFont_wght";
  src: url("./fuentes/MiConv.com__NotoEmoji-VariableFont_wght.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PermanentMarker-Regular";
  src: url("./fuentes/MiConv.com__PermanentMarker-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SixCaps-Regular";
  src: url("./fuentes/MiConv.com__SixCaps-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Staatliches-Regular";
  src: url("./fuentes/MiConv.com__Staatliches-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}



:root {
  --foreground-color: #f8fcff; /* Color del texto predeterminado */
  --background-start-color: #f8fcff; /* Color de inicio del fondo */
  --background-end-color: #ffffff; /* Color de fin del fondo */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #fff; /* Color del texto en modo oscuro */
    --background-start-color: #000; /* Color de inicio del fondo en modo oscuro */
    --background-end-color: #000; /* Color de fin del fondo en modo oscuro */
  }
}


::-webkit-scrollbar {
  display: none;
}

body {

  background-color: #f5faff;
  height: max-content;
  

  
 



}
